<main class="h-full px-56 py-24">
    <div class="flex flex-row justify-between h-full w-full p-3 bg-softWhite shadow-2xl rounded-3xl">
      <div class="h-full w-full rounded-3/5 basis-3/5">
        <img
          class="rounded-3xl w-full h-full object-cover"
          src="images/recovery1.gif"
          alt="recovery.img"
        />
      </div>
      <div class="flex flex-col px-10 basis-2/5">
        <div class="flex flex-col items-center justify-center">
          <span class="mt-8 text-2xl font-semibold text-erieBlack">¿Olvidaste tu contraseña?</span>
          <span class="mt-2 mb-8 text-sm font-medium text-sunsetOrange">Recupera el acceso a tu cuenta aquí.</span>
        </div>
        <app-password-recovery-form></app-password-recovery-form>
      </div>
    </div>
  </main>