<h2 mat-dialog-title>{{ data ? 'Editar Vehículo' : 'Agregar Vehículo' }}</h2>
<mat-dialog-content>
  <form [formGroup]="vehicleForm">
    <!-- Campo para Marca -->
    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <mat-select formControlName="brand" (selectionChange)="onBrandChange($event)">
        <mat-option *ngFor="let brand of brands" [value]="brand.name">
          {{ brand.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="vehicleForm.get('brand')?.hasError('required')">
        Llenar campo Marca.
      </mat-error>
    </mat-form-field>
    
    <!-- Campo para Modelo -->
    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <mat-select formControlName="model">
        <mat-option *ngFor="let model of models" [value]="model.name">
          {{ model.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="vehicleForm.get('model')?.hasError('required')">
        Llenar campo Modelo.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Placa</mat-label>
      <input matInput formControlName="licensePlate" [readonly]="isEditMode"/>
      <mat-error *ngIf="vehicleForm.get('licensePlate')?.hasError('required')">
        Llenar campo Placa.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="typeVehicles.length > 0">
      <mat-label>Tipo de Vehículo</mat-label>
      <mat-select formControlName="typeId" [disabled]="isEditMode">
        <mat-option *ngFor="let type of typeVehicles" [value]="type.typeId">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status">
        <mat-option value="AVAILABLE">Disponible</mat-option>
        <mat-option value="IN_MAINTENANCE">En Mantenimiento</mat-option>
        <mat-option value="RENTED">Rentado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Adquisición</mat-label>
      <input
       matInput 
       type="date" 
      formControlName="acquisitionDate" 
      placeholder="YYYY-MM-DD" 
      [readonly]="isEditMode"/>
      <mat-error *ngIf="vehicleForm.get('acquisitionDate')?.hasError('invalidFutureDate')">
        La fecha no puede ser mayor a la fecha actual.
      </mat-error>
      <mat-error *ngIf="vehicleForm.get('acquisitionDate')?.hasError('invalidYear')">
        El año ingresado no es válido.
      </mat-error>
      <mat-error *ngIf="vehicleForm.get('acquisitionDate')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kilometraje</mat-label>
      <input matInput type="number" formControlName="mileage" />
      <mat-error *ngIf="vehicleForm.get('mileage')?.hasError('min')">
        El kilometraje debe ser un valor positivo.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ubicación</mat-label>
      <input matInput formControlName="location" />
      <mat-error *ngIf="vehicleForm.get('location')?.hasError('required')">
        Llenar campo Ubicación.
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="airConditioning">Aire Acondicionado</mat-checkbox>

    <mat-form-field appearance="fill">
      <mat-label>Número de Puertas</mat-label>
      <input matInput type="number" formControlName="numberOfDoors" [readonly]="isEditMode"/>
      <mat-error *ngIf="vehicleForm.get('numberOfDoors')?.hasError('required')">
        Llenar campo Número de Puertas.
      </mat-error>
      <mat-error *ngIf="vehicleForm.get('numberOfDoors')?.hasError('min')">
        El número de puertas debe ser al menos 2.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de Combustible</mat-label>
      <mat-select formControlName="fuelType" [disabled]="isEditMode">
        <mat-option value="GASOLINE">Gasolina</mat-option>
        <mat-option value="HYBRID">Híbrido</mat-option>
        <mat-option value="ELECTRIC">Eléctrico</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Transmisión</mat-label>
      <mat-select formControlName="transmissionType" [disabled]="isEditMode">
        <mat-option value="MANUAL">Manual</mat-option>
        <mat-option value="AUTOMATIC">Automática</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Campo para subir imágenes -->
    <div class="file-input-container">
      <label for="image-upload">Subir Imágenes</label>
      <input type="file" id="image-upload" (change)="onFileSelected($event)" multiple />
    </div>

    <!-- Lista de imágenes seleccionadas -->
    <div class="selected-images-container" *ngIf="images.length > 0">
      <p>Imágenes seleccionadas:</p>
      <ul>
        <li *ngFor="let image of images; let i = index">
          {{ image.name }}
          <button mat-icon-button color="warn" (click)="removeImage(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button class="a" color="primary" (click)="save()" [disabled]="!vehicleForm.valid">
    Guardar
  </button>
</mat-dialog-actions>
