mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  textarea {
    resize: none; /* Deshabilitar el redimensionado del área de texto */
  }
  
  button {
    margin-left: 8px;
  }
  