<form [formGroup]="this.rentForm" (ngSubmit)="this.onSubmit()">
  <div class="flex flex-row gap-2 justify-between">
    <div class="flex flex-col gap-2">
      <label class="font-medium text-sm text-redViolet"
        >Fecha de Alquiler</label
      >
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="rentalDate"
          [matDatepicker]="picker"
          placeholder="Fecha"
          [min]="this.minDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex flex-col gap-2">
      <label class="font-medium text-sm text-redViolet">Duración</label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="rentalDuration">
          @for (rd of this.rentalDurations; track $index) {
          <mat-option [value]="rd">{{ rd }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col gap-2">
      <label class="font-medium text-sm text-redViolet"
        >Cantidad dias/semanas/meses</label
      >
      <mat-form-field appearance="outline" class="small">
        <input
          matInput
          type="number"
          [min]="1"
          formControlName="quantityOfDuration"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="flex flex-col justify-center">
    <button
      mat-fab
      extended
      class="submit-form-btn"
      [disabled]="!rentForm.valid"
    >
      <mat-icon>done_all</mat-icon>
      Alquila Vehículo
    </button>
  </div>
</form>
