<form [formGroup]="this.billingInfoForm" (ngSubmit)="this.onSubmit()">
  <div class="flex flex-col gap-2 px-20">
    <label class="font-medium text-sm text-redViolet">Identificador</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="idNumber" placeholder="Cédula o RUC" />
      <mat-error *ngIf="billingInfoForm.get('idNumber')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <label class="font-medium text-sm text-redViolet">Primer Nombre</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="firstName" placeholder="Primer Nombre" />
      <mat-error *ngIf="billingInfoForm.get('firstName')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <label class="font-medium text-sm text-redViolet">Segundo Nombre</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="secondName"
        placeholder="Segundo Nombre"
      />
      <mat-error
        *ngIf="billingInfoForm.get('secondName')?.hasError('required')"
      >
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <label class="font-medium text-sm text-redViolet">Apellido Paterno</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="lastName"
        placeholder="Apellido Paterno"
      />
      <mat-error *ngIf="billingInfoForm.get('lastName')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <label class="font-medium text-sm text-redViolet">Apellido Materno</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="secondLastName"
        placeholder="Apellido Materno"
      />
      <mat-error
        *ngIf="billingInfoForm.get('secondLastName')?.hasError('required')"
      >
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <label class="font-medium text-sm text-redViolet">Correo Electrónico</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="email"
        placeholder="ejemplo@email.com"
        type="email"
      />
      <mat-error *ngIf="billingInfoForm.get('email')?.hasError('required')">
        Este campo es requerido
      </mat-error>
      <mat-error *ngIf="billingInfoForm.get('email')?.hasError('email')">
        Ingrese un correo válido
      </mat-error>
    </mat-form-field>

    <label class="font-medium text-sm text-redViolet">Teléfono</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="phone" placeholder="0999999999" />
      <mat-error *ngIf="billingInfoForm.get('phone')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>
  </div>

  <!-- <div class="flex flex-col justify-center">
    <button
      mat-fab
      extended
      class="submit-form-btn"
      [disabled]="!billingInfoForm.valid"
    >
      <mat-icon>save</mat-icon>
      Guardar Información
    </button>
  </div> -->
</form>
