<div class="page-container">
    <div class="header-section">
      <div class="header-content">
        <h1 class="header-title">Gestión de Devoluciones</h1>
        <p class="header-subtitle">Administra las devoluciones de tus vehículos</p>
      </div>
      
      <div class="header-actions">
        <div class="search-container">
          <app-search-bar
            class="search-bar"
            placeholder="Buscar por Placa, Cliente o Fecha"
            (search)="onSearch($event)"
          ></app-search-bar>
        </div>
      </div>
    </div>
  
    <div class="table-wrapper">
      <table mat-table [dataSource]="paginatedRetuns" class="vehicle-table">
        <ng-container matColumnDef="rentalId">
          <th mat-header-cell *matHeaderCellDef class="custom-header">ID Alquiler</th>
          <td mat-cell *matCellDef="let returns">{{ returns.rentalId }}</td>
        </ng-container>
  
        <ng-container matColumnDef="clientIdNumber">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Número Cliente</th>
          <td mat-cell *matCellDef="let returns">{{ returns.clientIdNumber }}</td>
        </ng-container>
 
        <ng-container matColumnDef="returnDate">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Fecha Devolución</th>
          <td mat-cell *matCellDef="let returns">{{ returns.returnDate.slice(0, 10) }}</td>
        </ng-container>
 <!--
 <ng-container matColumnDef="returnDate">
  <th mat-header-cell *matHeaderCellDef class="custom-header">Fecha Devolución</th>
  <td mat-cell *matCellDef="let returns">{{ returns.returnDate.toISOString().slice(0, 10) }}</td>
</ng-container>  -->

        <ng-container matColumnDef="licensePlate">
          <th mat-header-cell *matHeaderCellDef class="custom-header">Placa Vehículo</th>
          <td mat-cell *matCellDef="let returns">{{ returns.licensePlate }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let returns">
            <div class="actions-container">
              <button mat-icon-button matTooltip="Devolver" (click)="returnVehicle(returns)" >
                <mat-icon class="return-icon">assignment_return</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <app-paginator
      [length]="filteredReturn.length"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-paginator>
  </div>
  