<h2 mat-dialog-title>Administrar Imágenes</h2>

<mat-dialog-content>
  <!-- Listar imágenes -->
  <div *ngIf="images.length > 0; else noImages" class="image-list">
    <div *ngFor="let image of images" class="image-container">
      <img [src]="image.imageUrl" alt="Imagen del vehículo" />
      <button
        mat-button
        color="warn"
        (click)="deleteImage(image.imageId)"
        class="delete-button"
      >
        Eliminar
      </button>
    </div>
  </div>
  <ng-template #noImages>
    <p>No hay imágenes disponibles para este vehículo.</p>
  </ng-template>

  <!-- Subir nuevas imágenes -->
  <label for="fileUpload">Selecciona imágenes para cargar:</label>
  <input
    id="fileUpload"
    type="file"
    (change)="onFileChange($event)"
    accept="image/*"
    multiple
    style="margin-top: 16px;"
  />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cerrar</button>
  <button mat-button color="primary" (click)="uploadImage()">Cargar Nuevas Imágenes</button>
</mat-dialog-actions>