<div class="flex flex-row justify-between gap-3">
  <mat-form-field class="w-1/2" appearance="outline">
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="ejemplo@gmail.com"
      #input
    />
  </mat-form-field>
  <button
    mat-fab
    extended
    class="submit-form-btn"
    (click)="this.openBillingInfoForm()"
  >
    <mat-icon>add</mat-icon>
    Agregar Datos de Facturación
  </button>
</div>
<div>
  <table
    mat-table
    [dataSource]="this.dataSource"
    matSort
    style="background-color: white"
  >
    <!-- ID Column -->
    <ng-container matColumnDef="idNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula</th>
      <td mat-cell *matCellDef="let row">{{ row.idNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      <!-- Removed the % sign -->
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      <!-- Removed the % sign -->
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <!-- Changed from Fruit -->
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
      <!-- Changed from Fruit -->
      <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Elegir</th>
      <!-- Changed from Fruit -->
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="this.redirectToBillingForm(row)">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    style="background-color: white"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Selecciona la pagina"
  ></mat-paginator>
</div>
