<app-search-bar
    placeholder="Buscar por Marca, Modelo o Placa"
    (search)="onSearch($event)"
  ></app-search-bar>

  <button mat-button class="add-vehicle-button" (click)="addVehicle()">Agregar Vehículo</button>
 
  <div class="table-container">
  <table mat-table [dataSource]="paginatedVehicles" class="mat-elevation-z8 vehicle-table" style="width: 100%">
    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Imagen </th>
      <td mat-cell *matCellDef="let vehicle">
        <img
          [src]="vehicle.images && vehicle.images.length > 0 ? vehicle.images[0].imageUrl : 'https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_253bb2bf37834fcc94aab18693c17252.webp'"
          alt="Imagen del vehículo"
          style="width: 100px; height: auto;"
        />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Marca </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.brand }} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Modelo </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.model }} </td>
    </ng-container>

    <ng-container matColumnDef="licensePlate">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Placa </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.licensePlate }} </td>
    </ng-container>

    <ng-container matColumnDef="typeId">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Tipo </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.type }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Estado </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.status }} </td>
    </ng-container>

    <ng-container matColumnDef="acquisitionDate">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Fecha de Adquisición </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.acquisitionDate }} </td>
    </ng-container>

    <ng-container matColumnDef="mileage">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Kilometraje </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.mileage }} km </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Ubicación </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.location }} </td>
    </ng-container>

    <ng-container matColumnDef="airConditioning">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Aire Acondicionado </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.airConditioning ? 'Sí' : 'No' }} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfDoors">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Número de Puertas </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.numberOfDoors }} </td>
    </ng-container>

    <ng-container matColumnDef="fuelType">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Tipo de Combustible </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.fuelType }} </td>
    </ng-container>

    <ng-container matColumnDef="transmissionType">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Transmisión </th>
      <td mat-cell *matCellDef="let vehicle"> {{ vehicle.transmissionType }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Acciones </th>
      <td mat-cell *matCellDef="let vehicle" class="mat-column-actions">

        <button
          mat-icon-button
          color="primary"
          class="action-button edit-button"
          (click)="editVehicle(vehicle)"
          aria-label="Editar vehículo"
        >
          <mat-icon>edit</mat-icon>
        </button>
    
        <button
          mat-icon-button
          color="warn"
          class="action-button delete-button"
          (click)="deleteVehicle(vehicle)"
          aria-label="Eliminar vehículo"
        >
          <mat-icon>delete</mat-icon>
        </button>
    
        <button
          mat-icon-button
          color="accent"
          class="action-button image-button"
          (click)="openImageModal(vehicle)"
          aria-label="Administrar imágenes del vehículo"
        >
          <mat-icon>photo_library</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
  <app-paginator
    [length]="filteredVehicles.length"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-paginator>