<div class="page-container">
  <div class="header-section">
    <div class="header-content">
      <h1 class="header-title">Gestión de Vehículos</h1>
      <p class="header-subtitle">Administra tu flota de vehículos de manera eficiente</p>
    </div>
    
    <div class="header-actions">
      <div class="search-container">
        <app-search-bar
          class="search-bar"
          placeholder="Buscar por Marca, Modelo o Placa"
          (search)="onSearch($event)"
        ></app-search-bar>
      </div>

      <button 
        mat-raised-button 
        class="add-vehicle-button" 
        (click)="addVehicle()"
      >
        <mat-icon class="add-icon">add</mat-icon>
        <span class="button-text">Agregar Vehículo</span>
      </button>
    </div>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="paginatedVehicles" class="vehicle-table">
      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let vehicle">
          <img
            [src]="vehicle.images?.length ? vehicle.images[0].imageUrl : 'https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_253bb2bf37834fcc94aab18693c17252.webp'"
            alt="Vehículo"
            class="vehicle-image"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Marca</th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.brand }}</td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Modelo</th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.model }}</td>
      </ng-container>

      <ng-container matColumnDef="licensePlate">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Placa</th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.licensePlate }}</td>
      </ng-container>

      <ng-container matColumnDef="typeId">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Tipo</th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.type }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Estado</th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.status }}</td>
      </ng-container>

      <ng-container matColumnDef="acquisitionDate">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Fecha de Adquisición
        </th>
        <td mat-cell *matCellDef="let vehicle">
          {{ vehicle.acquisitionDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="mileage">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Kilometraje
        </th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.mileage }} km</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Ubicación
        </th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.location }}</td>
      </ng-container>

      <ng-container matColumnDef="airConditioning">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Aire Acondicionado
        </th>
        <td mat-cell *matCellDef="let vehicle">
          {{ vehicle.airConditioning ? "Sí" : "No" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfDoors">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Número de Puertas
        </th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.numberOfDoors }}</td>
      </ng-container>

      <ng-container matColumnDef="fuelType">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Tipo de Combustible
        </th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.fuelType }}</td>
      </ng-container>

      <ng-container matColumnDef="transmissionType">
        <th mat-header-cell *matHeaderCellDef class="custom-header">
          Transmisión
        </th>
        <td mat-cell *matCellDef="let vehicle">
          {{ vehicle.transmissionType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let vehicle">
          <div class="actions-container">
            <button mat-icon-button matTooltip="Editar" (click)="editVehicle(vehicle)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            
            <button mat-icon-button matTooltip="Eliminar" (click)="deleteVehicle(vehicle)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
            
            <button mat-icon-button matTooltip="Imágenes" (click)="openImageModal(vehicle)">
              <mat-icon class="image-icon">photo_library</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <app-paginator
    [length]="filteredVehicles.length"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-paginator>
</div>
