.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
    font-size: 14px;
    color: #424242;
  }
  
  button:disabled {
    color: #bdbdbd;
  }
  